<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>DarkSlides - broadcasting Reveal.js on OpenShift</title>
    <meta name="description" content="Create beautiful presentations using HTML5" />
    <meta name="author" content="Ryan Jarvinen" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/reveal.min.css" />
    <link rel="stylesheet" href="css/theme/default.css" id="theme" />
    <link rel="stylesheet" href="css/print/pdf.css" type="text/css" media="print" />
    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css" />
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
      <section>
        <section>
          <h1>Javascript Release Management</h1>
          <p>in</p>
          <h2>''The Cloud&trade;''</h2>
          <br/>
          <p>~brought to you by~</p>
          <p><a href='https://openshift.redhat.com/app/account/new?web_user%5Bpromo_code%5D=HTML5CONF'><img style='height:10%;border: none; background: none; box-shadow: none;' src='img/OpenShift_Horizontal_RGB_Reverse.png' alt='OpenShift'/></a></p>
        </section>
        <section>
          <p><a href='http://bit.ly/XDCQAu'>http://bit.ly/XDCQAu</a></p>
          <br/>
          <div>presented by</div>
          <br/>
          <div><a href='http://ryanjarvinen.com/'>ryan jarvinen</a> / <a href='http://twitter.com/ryanj/'>@ryanj</a></div>
        </section>
        <section data-state="blackout">
          <div>
            <div> Open Platform Evangelist </div>
            <div style="">at</div>
            <div style="">Red Hat</div>
            <br/>
            <div style="">ryanj@redhat.com</div>
          </div>
        </section>
      </section>
      <section>
        <section>
          <h1>Agenda</h1> 
          <ul>
            <li class='fragment roll-in'>Cloud Landscape Overview</li>
            <li class='fragment roll-in'>JavaScript Development</li>
            <li class='fragment roll-in'>Git Deployment, Build Automation</li>
            <li class='fragment roll-in'>High Availability, Clustering, Auto-Scaling</li>
          </ul>
        </section>
        <section>
          <h1>Code du jour</h1>
          <p><a href='https://github.com/ryanj/darkslides'>https://github.com/ryanj/darkslides/</a></p>
          <br/>
          <h2>OpenShift Online</h2>
          <p><a href='https://openshift.redhat.com/app/account/new?web_user%5Bpromo_code%5D=HTML5CONF'>Signup with Code - HTML5CONF</a></p>
        </section>
      </section>
      <section>
        <section>
          <img style='height:90%' src='img/alphie_hello_cloud.png' alt='cloud9 ide'/>
        </section>
      </section>
      <section>
        <section>
          <h1>The Cloud</h1> 
          <h2 class='fragment roll-in'><span class='fragment grow'>IS</span></h2>
          <h2 class='fragment roll-in'><span class='fragment grow'>a free market for online services</span></h2>
        </section>
        <section>
          <h1>The Cloud Landscape</h1> 
          <div class='fragment roll-in'><img style="height:75%" src='img/paas-overview.png'/></div> 
        </section>
        <section>
          <h1>OpenStack</h1> 
          <h2 class='fragment roll-in'>IS OPEN</h2>
          <div class='fragment roll-in'>and<br/></div>
          <div class='fragment roll-in'><h1>focused on IaaS</h1></div>
          <p><a href='http://www.openstack.org/summit/portland-2013/'>http://www.openstack.org/summit/portland-2013/</a></p>
        </section>
        <section>
          <h2>OpenShift Is&hellip;</h2> 
          <h1 class='fragment roll-in'><span class='fragment grow'>OPEN SOURCE</span></h1>
          <p><a href='https://www.openshift.com/page/origin-community-day-april-2013'>OpenShift Origin Community Day (April 14)</a></p>
        </section>
        <section>
          <p>Figure A: Gear</p>
          <img style='height:80%' alt='OpenShift gear' src='img/gear.png'/>
        </section>
        <section>
          <h1>OpenShift Origin</h1>
          <p>An open source community for auto-clustering, infrastructure agnostic, cloud-scaling application containers</h2>
          <p><a href='http://openshift.github.com/'>http://openshift.github.com/</a></p>
        </section>
        <section>
          <h2>Hosting Options:</h2> 
          <h2 class='fragment roll-in'>1. DIY / Private cloud&nbsp;&nbsp;</h2>
          <h2 class='fragment roll-in'>2. OpenShift Online&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
          <h2 class='fragment roll-in'>3. OpenShift Enterprise</h2>
        </section>
        <section>
          <h1>Open client tools</h1> 
          <h2>RHC</h2>
          <div class='fragment roll-in'><pre><code contenteditable>sudo gem install rhc</code></pre></div>
          <div class='fragment roll-in'><pre><code contenteditable>rhc setup</code></pre></div>
          <div><ul><li class='fragment roll-in'>sets your openshift email address</li>
                   <li class='fragment roll-in'>verifies your ssh key configuration</li>
                   <li class='fragment roll-in'>selects your application namespace</li></ul></div>
          <br/>
          <p class='fragment roll-in'>pre-requisites:</p>
          <div class='fragment roll-in'>ruby, rubygems, git</div>
          <p><a href='https://github.com/openshift/rhc'>https://github.com/openshift/rhc</a></p>
        </section>
        <section>
          <h2>Open cartridge format</h2> 
          <img style='height:80%' class='fragment roll-in' alt='OpenShift Cartridge' src='img/Openshift-Cartridge.png'/>
        </section>
        <section>
          <h2>The big picture</h2>
          <div class='fragment roll-in'><img src='img/PaaS-landscape.png'/></div> 
        </section>
        <section>
          <h2>Developer Preview</h2> 
          <div><p>Make sure that you sign up for a <a href="https://openshift.redhat.com/app/account/new?web_user%5Bpromo_code%5D=HTML5CONF">free OpenShift account</a></p>
            <a href="https://openshift.redhat.com/app/account/new?web_user%5Bpromo_code%5D=HTML5CONF">http://openshift.redhat.com/</a></p>
            <p><ul>
              <li class='fragment roll-in'>Free-as-in-beer (<span class='fragment highlight-red'>no cost</span>)</li>
              <li class='fragment roll-in'>Free-as-in-freedom (<span class='fragment highlight-red'>open source</span>)</li>
              <li class='fragment roll-in'>512 MB RAM / 1 GB storage per gear (<span class='fragment highlight-red'><i>3 free</i></span>)</li> 
              <li class='fragment roll-in'>Need more resources? (<span class='fragment highlight-red'>just ask!</span>)</li>
              <li class='fragment roll-in'><i>REALLY</i> a Developer Preview (<span class='fragment highlight-red'>GA this summer</span>)</li>
            </ul></p>
            <br/>
            <br/>
            <p class='fragment roll-in'><a href='http://openshift.com/pricing/'>Want more info?</a></p>
          </div>
        </section>
      </section>
      <section>
        <section>
          <h1>Javascript Development</h1> 
        </section>
        <section>
          <img style='height:70%' src='img/Cloud9-IDE.png' alt='cloud9 ide'/>
          <p>Start in the cloud</p>
        </section>
        <section>
          <h1>Grunt</h1>
          <img style='height:70%' src='img/grunt.png' alt='Grunt tasks'/>
        </section>
        <section>
          <h2>Yo, I'll see you in the future</h2>
          <img style='height:70%' src='img/yeoman.png' alt='yeoman scaffolds'/>
        </section>
        <section>
          <h2>Migrating existing git projects to OpenShift</h2>
<pre><code contenteditable># This script assumes that your project is a git repo
# with a git remote hosted on github.com
cd $YOUR_PROJECT_FOLDER 
git remote add upstream -m master git@github.com:ryanj/nodejs-custom-version-openshift.git
# merge in a basic OpenShift skeleton
git pull -s recursive upstream master</code></pre>
          <p><a href='https://gist.github.com/ryanj/5267357'>a git-based approach</a></p>
        </section>
      </section>
      <section>
        <section>
          <h2>What does</h2><h1>OpenShift</h1><h2>add to your build automation workflow?</h1>       
        </section>
        <section>
          <h2>Gearing up a new app on OpenShift</h2> 
          <div class='fragment roll-in'><pre><code contenteditable>rhc app create APP_NAME APP_CARTRIDGE</code></pre></div>
          <div class='fragment roll-in'>or</div>
          <div class='fragment roll-in'><pre><code contenteditable>rhc app create darkslides nodejs --from-code=https://github.com/ryanj/darkslides.git</code></pre></div>
        </section>
        <section>
<pre><code>Application Options
-------------------
  Namespace:  ryanj
  Cartridges: nodejs-0.6
  Source Code: https://github.com/ryanj/darkslides.git
  Gear Size:  default
  Scaling:    no

Creating application 'darkslides' ... done

Waiting for your DNS name to be available ... done

Downloading the application Git repository ...
Cloning into 'darkslides'...</code></pre>
                </section>
        <section>
<pre><code contenteditable>darkslides @ http://darkslides-ryanj.rhcloud.com/ (uuid: 25918304bf8d406e89802a1e642063a0)
---------------------------------------------------
  Created:   10:23 PM
  Gear Size: small
  Git URL:   ssh://25918304bf8d406e89802a1e642063a0@darkslides-ryanj.rhcloud.com/~/git/darkslides.git/
  SSH:       25918304bf8d406e89802a1e642063a0@darkslides-ryanj.rhcloud.com

  nodejs-0.6 (Node.js 0.6)
  ------------------------

RESULT:
Application darkslides was created.</code></pre>
        </section>
        <section>
          <h2>Success!</h2> 
          <p>You now have a basic node.js app up an running on OpenShift!</p>
          <br/>
          <p class='fragment roll-in'>Your gear is now configured with:</p> 
          <div><ul><li class='fragment roll-in'>it's own git repo</li>
                   <li class='fragment roll-in'>it's own web server</li>
                   <li class='fragment roll-in'>a DB</li>
                   <li class='fragment roll-in'>ssh access</li>
                   <li class='fragment roll-in'>logging</li>
                   <li class='fragment roll-in'>publicly accessible DNS</li></ul></div>
        </section>
        <section>
          <h2>Cartridge-driven databases available</h2>
<pre><code contenteditable>rhc cartridge add mongodb-2.2</code></pre>
          <pre><code contenteditable>Adding mongodb-2.2 to application 'parks' ... Success

mongodb-2.2 (MongoDB NoSQL Database 2.2)
----------------------------------------
  Connection URL: mongodb://127.6.102.129:27017/
  Database Name:  parks
  Password:       T5xJwCiDZYGn
  Username:       admin

RESULT:
Added mongodb-2.2 to application parks</code></pre>
        </section>
        <section>
          <h1>SSH and port forwarding</h1>
          <p>ssh access</p>
          <div class='fragment roll-in'><pre><code contenteditable>rhc ssh</code></pre></div>
          <p>tail your logs</p>
          <div class='fragment roll-in'><pre><code contenteditable>rhc tail APP_NAME</code></pre></div>
          <p>local availability of remote databases</p>
          <div class='fragment roll-in'><pre><code contenteditable>rhc port-forward</code></pre></div>
        </section>
      </section>
      <section>
        <section>
          <h1>Git Deployments and Build Automation</h1> 
        </section>
        <section>
          <h1>The classics:</h1> 
          <h1>git push -> npm start</h1> 
        </section>
        <section>
          <h1>The future:</h1> 
          <h2>action hooks</h2> 
          <h2>npm install</h2> 
          <h2>grunt tasks</h2> 
          <h2>npm start</h2> 
          <h2>custom versions of node</h2> 
        </section>
        <section>
          <h2>Installing dependencies</h2>
          <p>Using Node's <a href="https://npmjs.org/">npm package manager</a>:</p>
          <pre><code contenteditable>npm install mongojs -S</code></pre>
          <p>Include the <code>-S</code> flag in order to save this dependency to your application's <code>package.json</code> file.</p>
          <p><a href="http://npmjs.org/package/mongojs/">http://npmjs.org/package/mongojs/</a></p>
        </section>
        <section>
          <h2>Run anywhere</h2>
          <pre><code contenteditable>var http = require('http'),
    ip   = process.env.OPENSHIFT_INTERNAL_IP || '127.0.0.1',
    port = process.env.OPENSHIFT_INTERNAL_PORT || '8080';</code></pre>
        </section>
        <section>
          <h2>Commit your changes</h2>
          <br/>
          <p>Add your changes</p>
          <pre><code contenteditable>git add package.json server.js</code></pre>
          <p>Commit locally</p>
          <pre><code contenteditable>git commit -m 'adding an npm dependency, initializing server'</code></pre>
        </section>
        <section>
          <h1>Secret-Free Source</h1> 
          <br/>
          <p>Store your keys and secrets on the server:</p>
          <pre><code contenteditable>rhc ssh
echo "export SECRET_PASS=12345678910" | tee -a ~/app-root/data/.bash_profile</code></pre>
          <br/>
          <p>Source your <code>.bash_profile</code> to load them:</p>
<pre><code contenteditable>cd YOUR_LOCAL_REPO
echo "source ~/app-root/data/.bash_profile" | tee -a .openshift/action_hooks/pre_start_*
git add .openshift/action_hooks/pre_start_*
git commit -m 'importing bash profile during app init'</code></pre>
          <p><a href='https://www.openshift.com/blogs/secret-free-source-on-paas'>more...</a></p>
        </section>
        <section>
          <h1>Build Automation<h1>
          <h2>travis-ci</h2>
          <h2>Jenkins</h2> 
          <h2>grunt concat, uglify</h2> 
          <h2>cron</h2> 
        </section>
        <section>
          <h2>deployment</h2> 
          <div class='fragment roll-in'><pre><code contenteditable>git push</code></pre></div>
          <div class='fragment roll-in'><p><b><i>Done!</i></b></p></div>
        </section>
      </section>
      <section>
        <section>
          <h1>Advanced Release Management</h1>
          <a href='https://www.openshift.com/blogs/release-management-in-the-cloud'><img style='height:50%' alt='release' src='img/redhat_shipment.png' /></a>
        </section>
        <section>
          <h1>Establishing a release pipeline</h1> 
          <p>(in two simple steps)</p>
        </section>
        <section>
          <h1>Cloud auto-scaling</h1> 
          <p>Create a new auto-scaling application:</p>
          <pre><code contenteditable>rhc app create --no-git -s scaleup nodejs --from-code=https://github.com/ryanj/darkslides.git</code></pre>
          <p>Add the resulting remote git url to a local project repo</p>
          <pre><code contenteditable>git remote add production -m master NEW_GIT_URL</code></pre>
          <p>pro tip:<p>
          <pre><code contenteditable>git remote rename origin staging</code></pre>
        </section>
        <section>
          <h1>release management workflows</h1> 
          <p>deploy to staging</p>
          <pre><code contenteditable>git push staging</code></pre>
          <p>deploy to production</p>
          <pre><code contenteditable>git push production</code></pre>
          <p>rollbacks:</p>
          <pre><code contenteditable>git log</code></pre>
          <pre><code contenteditable>git push staging 28c5555352a902c549c965da30cf7559c80f328e:master</code></pre>
        </section>
        <section>
          <h1>dns aliases</h1> 
          <pre><code contenteditable>rhc alias add APP_NAME HOST_URL</code></pre>
        </section>
        <section data-state='alert'>
          <h1 class='fragment roll-in'><span class='fragment roll-in'>Public Cloud</span><span class='fragment roll-in'> + </span><span class='fragment roll-in'>Private Cloud</span><span class='fragment roll-in'> = </span></h1>
         <h1 class='fragment roll-in'><span class='fragment roll-in'>Hybrid Cloud</span></h1>
        </section>
      </section>
      <section>
        <section>
          <h1>Conclusions:</h1>
          <ol>
            <li>fast</li>
            <li>future</li>
            <li>freedom</li>
            <li>fireballs</li>
          </ol>
          <br/>
          <a href='https://www.openshift.com/blogs/cloudy-with-a-chance-of-meteorjs'><img style='height:45%' src='img/meteorshift.png' alt='yeoman scaffolds'/></a>
        </section>
        <section>
          <p><i><b>Thanks for following along!</b></i></p>
          <p>--ryanj</p>
          <br/>
          <p><a href='http://bit.ly/XDCQAu'>http://bit.ly/XDCQAu</a></p>
        </section>
      </section>
      </div>
      <img style="position:fixed;width:15%;z-index:30;bottom:20px;left:20px;" src="img/RH_logo-trans_reverse.png"/>
    </div>
    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>
    <script>
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        // Generate a unique id and secret at revealjs.jit.su/token
        multiplex: {
          id: "<%- socketId %>",
          url: '<%- host %>'
        },
        dependencies: [
          { src: 'js/socket.io.min.js', async: true },
          { src: 'plugin/multiplex/client.js', async: true },
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          // { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
          // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20043816-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
