<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>DarkSlides - broadcasting Reveal.js on OpenShift</title>
    <meta name="description" content="Create beautiful presentations using HTML5" />
    <meta name="author" content="Ryan Jarvinen" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/reveal.min.css" />
    <link rel="stylesheet" href="css/theme/default.css" id="theme" />
    <link rel="stylesheet" href="css/print/pdf.css" type="text/css" media="print" />
    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css" />
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
      <section>
        <section>
          <h1>Javascript Release Management</h1>
          <p>in</p>
          <h2>''The Cloud&trade;''</h2>
          <br/>
          <p>~brought to you by~</p>
          <p><a href='https://openshift.redhat.com/app/account/new?web_user%5Bpromo_code%5D=HTML5CONF'><img style='height:10%;border: none; background: none; box-shadow: none;' src='img/OpenShift_Horizontal_RGB_Reverse.png' alt='OpenShift'/></a></p>
        </section>
        <section>
          <p><a href='http://bit.ly/XDCQAu'>http://bit.ly/XDCQAu</a></p>
          <br/>
          <div>presented by</div>
          <br/>
          <div><a href='http://ryanjarvinen.com/'>ryan jarvinen</a> / <a href='http://twitter.com/ryanj/'>@ryanj</a></div>
        </section>
        <section data-state="blackout">
          <div>
            <div> Open Platform Evangelist </div>
            <div style="">at</div>
            <div style="">Red Hat</div>
            <br/>
            <div style="">ryanj@redhat.com</div>
          </div>
        </section>
      </section>
      <section>
        <section>
          <h1>Agenda</h1> 
          <ul>
            <li class='fragment roll-in'>Cloud Landscape Overview</li>
            <li class='fragment roll-in'>JavaScript Development</li>
            <li class='fragment roll-in'>Git Deployment, Build Automation</li>
            <li class='fragment roll-in'>High Availability, Clustering, Auto-Scaling</li>
          </ul>
        </section>
        <section>
          <h1>Code du jour</h1>
          <p><a href='https://github.com/ryanj/darkslides'>https://github.com/ryanj/darkslides/</a></p>
          <br/>
          <h2>OpenShift Online</h2>
          <p><a href='https://openshift.redhat.com/app/account/new?web_user%5Bpromo_code%5D=HTML5CONF'>Signup with Code - HTML5CONF</a></p>
        </section>
      </section>
      <section>
        <section>
          <h1>The Cloud</h1> 
          <h2 class='fragment roll-in'><span class='fragment grow'>IS</span></h2>
          <h2 class='fragment roll-in'><span class='fragment grow'>a free market for online services</span></h2>
        </section>
        <section>
          <h1>The Cloud Landscape</h1> 
          <div class='fragment roll-in'><img style="height:75%" src='img/paas-overview.png'/></div> 
        </section>
        <section>
          <h1>OpenStack</h1> 
          <h2 class='fragment roll-in'>IS OPEN</h2>
          <div class='fragment roll-in'>and<br/></div>
          <div class='fragment roll-in'><h1>focused on IaaS</h1></div>
          <p><a href='http://www.openstack.org/summit/portland-2013/'>http://www.openstack.org/summit/portland-2013/</a></p>
        </section>
        <section>
          <h2>OpenShift Is&hellip;</h2> 
          <h1 class='fragment roll-in'><span class='fragment grow'>OPEN SOURCE</span></h1>
          <p><a href='https://www.openshift.com/page/origin-community-day-april-2013'>OpenShift Origin Community Day (April 14)</a></p>
        </section>
        <section>
          <h1>OpenShift Origin</h1>
          <p>An open source community for auto-clustering, infrastructure agnostic, scalable cloud application containers</h2>
          <p><a href='http://openshift.github.com/'>http://openshift.github.com/</a></p>
        </section>
        <section>
          <h2>Hosting Options</h2> 
          <h2 class='fragment roll-in'>DIY / Private cloud</h2>
          <h2 class='fragment roll-in'>OpenShift Online</h2>
          <h2 class='fragment roll-in'>OpenShift Enterprise</h2>
        </section>
        <section>
          <h1>Open client tools</h1> 
          <p>rhc</p>
        </section>
        <section>
          <h1>Open cartridge format</h1> 
        </section>
        <section>
          <h2>The big picture</h2>
          <div class='fragment roll-in'><img src='img/PaaS-landscape.png'/></div> 
        </section>
        <section>
          <h2>Developer Preview</h2> 
          <div><p>Make sure that you sign up for a <a href="https://openshift.redhat.com/app/account/new">free OpenShift account</a></p>
            <p class='fragment roll-in'><a href="https://openshift.redhat.com/app/account/new">http://openshift.redhat.com/</a></p>
<p><ul>
              <li class='fragment roll-in'>Free-as-in-beer</li>
              <li class='fragment roll-in'>Free-as-in-freedom</li>
              <li class='fragment roll-in'>512 MB RAM / 1 GB storage per gears <span class='fragment highlight-blue'><i>(3 free)</i></span></li> 
              <li class='fragment roll-in'>Need more resources, just ask!</li>
              <li class='fragment roll-in'><i>REALLY</i> a Developer Preview</li>
            </ul></p>
          </div>
        </section>
      </section>
      <section>
        <section>
          <h1>Javascript Developement</h1> 
        </section>
        <section>
          <h1>C9.io</h1>
          <p>Start in the cloud</p>
        </section>
        <section>
          <h2>Migrating existing git projects</h2>
          <p><a href='https://gist.github.com/ryanj/5267357'>a git-based approach</a></p>
        </section>
        <section>
          <h2>the 'rhc' command line</h2>
        </section>
        <section>
          <h1>Grunt</h1>
        </section>
        <section>
          <h2>Yo, I'll see you in the future</h2>
          <p>include a list of quickstarts, and a list of yo templates</p>
        </section>
        <section>
          <h1>SSH and port forwarding</h1>
          <p>for local access to remote databases</p>
        </section>
      </section>
      <section>
        <section>
          <h2>Getting Started with OpenShift</h2> 
          <h4 class='fragment roll-in'>pre-requisites:</h4>
          <div class='fragment roll-in'>ruby, rubygems</div>
          <div class='fragment roll-in'>git</div>
        </section>
        <section>
          <h2>Installing the 'rhc' client tool</h2> 
          <div class='fragment roll-in'><pre><code contenteditable>sudo gem install rhc</code></pre></div>
          <div class='fragment roll-in'>and</div>
          <div class='fragment roll-in'>install <a href='http://nodejs.org/'>node.js</a></div>
        </section>
        <section>
          <h2>Help with client tools</h2> 
          <ul>
          <li class='fragment roll-in'><a href="https://openshift.redhat.com/community/developers/get-started">Openshift Getting Started guide</a></li>
          <li class='fragment roll-in'><a href="https://openshift.redhat.com/community/developers/install-the-client-tools">RHC client tools installation</a></li>
          </ul>
        </section>
      </section>
      <section>
        <section>
          <h2>Configuring your dev environment</h2> 
          <pre class='fragment roll-in'><code contenteditable>rhc setup</code></pre>
          <div><ul><li class='fragment roll-in'>sets your openshift email address</li>
                   <li class='fragment roll-in'>verifies your ssh key configuration</li>
                   <li class='fragment roll-in'>selects your application namespace</li></ul></div>
        </section>
      </section>
      <section>
        <section>
          <h2>Gearing up a new app on OpenShift</h2> 
          <div class='fragment roll-in'><pre><code contenteditable>rhc app create APP_NAME APP_CARTRIDGE</code></pre></div>
          <div class='fragment roll-in'>or</div>
          <div class='fragment roll-in'><pre><code contenteditable>rhc app create darkslides nodejs mongodb-2.2 --from-code=https://github.com/ryanj/darkslides.git</code></pre></div>
        </section>
        <section>
<pre><code>Application Options
-------------------
  Namespace:  ryanj
  Cartridges: nodejs-0.6, mongodb-2.2
  Source Code: https://github.com/ryanj/darkslides.git
  Gear Size:  default
  Scaling:    no

Creating application 'darkslides' ... done

Waiting for your DNS name to be available ... done

Downloading the application Git repository ...
Cloning into 'darkslides'...</code></pre>
                </section>
        <section>
<pre><code contenteditable>darkslides @ http://darkslides-ryanj.rhcloud.com/ (uuid: 25918304bf8d406e89802a1e642063a0)
---------------------------------------------------
  Created:   10:23 PM
  Gear Size: small
  Git URL:   ssh://25918304bf8d406e89802a1e642063a0@darkslides-ryanj.rhcloud.com/~/git/darkslides.git/
  SSH:       25918304bf8d406e89802a1e642063a0@darkslides-ryanj.rhcloud.com

  nodejs-0.6 (Node.js 0.6)
  ------------------------

RESULT:
Application darkslides was created.</code></pre>
        </section>
        <section>
          <pre><code contenteditable>Adding mongodb-2.2 to application 'parks' ... Success

mongodb-2.2 (MongoDB NoSQL Database 2.2)
----------------------------------------
  Connection URL: mongodb://127.6.102.129:27017/
  Database Name:  parks
  Password:       T5xJwCiDZYGn
  Username:       admin

RESULT:
Added mongodb-2.2 to application parks</code></pre>
        </section>
        <section>
          <h2>Success!</h2> 
          <p>You now have a basic node.js app up an running on OpenShift!</p>
          <br/>
          <p class='fragment roll-in'>Your gear is now configured with:</p> 
          <div><ul><li class='fragment roll-in'>it's own git repo</li>
                   <li class='fragment roll-in'>it's own web server</li>
                   <li class='fragment roll-in'>MongoDB</li>
                   <li class='fragment roll-in'>ssh access</li>
                   <li class='fragment roll-in'>logging</li>
                   <li class='fragment roll-in'>publicly accessible DNS</li></ul></div>
        </section>
      </section>
      <section>
        <section>
          <h1>Git Deployments and Build Automation</h1> 
        </section>
        <section>
          <h1>The classics:</h1> 
          <h1>git push -> npm start</h1> 
        </section>
        <section>
          <h1>npm install</h1> 
          <h1>action hooks</h1> 
        </section>
        <section>
          <h2>custom versions of node.js</h2> 
        </section>
        <section>
          <h1>cron</h1> 
        </section>
        <section>
          <h1>travis-ci, jenkins builds</h1> 
        </section>
        <section>
          <h1>grunt concat, uglify</h1> 
        </section>
        <section>
          <h1>SSH</h1> 
        </section>
        <section>
          <h1>Environment variables</h1> 
          <p>secret-free source</p>
        </section>
      </section>
      <section>
        <section>
          <h2>Building your App</h2> 
          <div class='fragment roll-in'><pre><code contenteditable> cd parks </code></pre></div>
        </section>
        <section>
          <h2>Setting up MongoDB on Openshift</h2> 
          <div class='fragment roll-in'><pre><code contenteditable>rhc cartridge add mongodb-2.2</code></pre></div>
        </section>
        <section>
          <h2>Installing dependencies</h2>
          <p>Using Node's <a href="https://npmjs.org/">npm package manager</a>:</p>
          <pre><code contenteditable>npm install mongojs -S</code></pre>
          <p>Include the <code>-S</code> flag in order to save this dependency to your application's <code>package.json</code> file.</p>
          <p><a href="http://npmjs.org/package/mongojs/">http://npmjs.org/package/mongojs/</a></p>
        </section>
      </section>
      <section>
        <section>
          <h2>Committing your changes</h2>
          <pre><code contenteditable>git add package.json server.js</code></pre>
          <p>Commit your changes locally</p>
          <pre><code contenteditable>git commit -m 'adding mongojs npm dependency, initializing mongojs library, adding a basic API'</code></pre>
        </section>
        <section>
          <h2>deployment</h2> 
          <div class='fragment roll-in'><pre><code contenteditable>git push</code></pre></div>
          <div class='fragment roll-in'><p><b><i>Done!</i></b>Your spatial app should now be live <i>IN THE CLOUD!</i></p></div>
        </section>
        <section data-state='alert'>
          <h1 class='fragment roll-in'><span class='fragment roll-in'>Public Cloud</span><span class='fragment roll-in'> + </span><span class='fragment roll-in'>Private Cloud</span><span class='fragment roll-in'> = </span></h1>
         <h1 class='fragment roll-in'><span class='fragment roll-in'>Hybrid Cloud</span></h1>
        </section>
      </section>
      <section>
        <section>
          <h2>SSH into your application container</h2>
          <div>
          <h3>SSH in to your OpenShift Gear</h3>
          <pre><code contenteditable>rhc ssh</code></pre>
          </div>
        </section>
      </section>
      <section>
        <section>
          <h1>Advanced Release Management</h1>
        </section>
        <section>
          <h1>Establishing a release pipeline</h1> 
          <p>two steps</p>
        </section>
        <section>
          <h1>auto-scaling</h1> 
        </section>
        <section>
          <h1>dns aliases</h1> 
        </section>
        <section>
          <h1>release management workflows</h1> 
          <p>git push staging</p>
          <p>git push production</p>
          <p>rollbacks</p>
        </section>
        <section>
          <h1>But is it realtime enough?</h1> 
          <p>img of sceptical fry</p>
          <h1>Sockets</h1> 
        </section>
      </section>
      <section>
        <section>
          <h1>Conclusions</h1>
          <ol>
            <li>fast</li>
            <li>future</li>
            <li>freedom</li>
            <li>fireballs</li>
          </ol>
        </section>
        <section>
          <p><i><b>Thanks for following along!</b></i></p>
          <p>--ryanj</p>
          <p>Signup Code: <a href='https://openshift.redhat.com/app/account/new?web_user%5Bpromo_code%5D=HTML5CONF'>HTML5CONF</a></p>
          <p><a href='http://bit.ly/XDCQAu'>http://bit.ly/XDCQAu</a></p>
        </section>
      </section>

      </div>
      <img style="position:fixed;width:15%;z-index:30;bottom:20px;left:20px;" src="img/RH_logo-trans_reverse.png"/>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        // Generate a unique id and secret at revealjs.jit.su/token
        multiplex: {
          id: "<%- socketId %>",
          url: '<%- host %>'
        },
        dependencies: [
          { src: 'js/socket.io.min.js', async: true },
          { src: 'plugin/multiplex/client.js', async: true },
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          // { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
          // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20043816-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
